* {
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}
